html, body {
    height: 100dvh;
}

body {
    font-family: 'Lora', serif;
    background-color: #cff4fc
}

.main-col {
    max-width: 600px;
}

.todo-done {
    text-decoration: line-through;
}

h1 {
    white-space: nowrap;
}
